TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_GROUP_CHAT_ID=your-telegram-group-chat-id
DB_HOST=your-database-host
DB_USER=your-database-username
DB_PASSWORD=your-database-password
DB_NAME=your-database-name
NUM_PROCESSES=2
START_PAGE=1
END_PAGE=5
WEBSITE_TYPE="hollywood" or "bollywood"